@import "./styles/navBar.css";
@import "./styles/video.css";
@import "./styles/quoiSection.css";
@import "./styles/quandSection.css";
@import "./styles/ouSection.css";
@import "./styles/quiSection.css";
@import "./styles/reserverSection.css";
@import "./styles/footer.css";


* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(#020916, #1c233e);
    overflow-x: hidden;

}

section {
    height: 100vh !important;
    object-fit: cover;
}

.fontTitle {
    color: white;
    padding-bottom: 20px;
    font-size: 2em;
}

.fontComment {
    color: white;
    font-size: 1.5em;
}

.text-photo {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5rem
}

.textContainer {
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.etoilesContainer {
    display: flex;
    position: absolute;
    z-index: -1;
}

.etoilesL {
    width: 50%;
    height: auto;
}

.etoilesR {
    width: 50%;
    height: auto;
    z-index: -1;
    margin-top: 2%;
    transform: rotate(90deg);
}

.decorBasContainer {
    width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;
}

.decorBas {
    width: 100%;
    height: 80%;
    padding-top: 10%;
    display: block;
}