@import "./styles/navBar.css";
@import "./styles/video.css";
@import "./styles/quoiSection.css";
@import "./styles/quandSection.css";
@import "./styles/ouSection.css";
@import "./styles/quiSection.css";
@import "./styles/reserverSection.css";
@import "./styles/footer.css";
@import "./styles/sponsors.css";


* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-image: url("./assets/etoilesBackground.png"), linear-gradient(#020916, #1c233e);
}

section {
    height: 100vh;
    object-fit: cover;
}

.fontTitle {
    color: white;
    padding-bottom: 20px;
    font-size: 2em;
}

.fontComment {
    color: white;
    font-size: 1.5em;
}

.text-photo {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
    z-index: -1;
}

.textContainer {
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.decorBasContainer {
    width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;
}

.decorBas {
    width: 100%;
    height: 80%;
    padding-top: 10%;
    display: block;
}

@media screen and (max-width: 500px) {

    .text-photo {
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 5rem;
        z-index: -1;
        flex-direction: column;
    }

    .textContainer {
        width: 50vw;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}