#footerSection{
    height: 100%;
    object-fit: cover;
    padding-top: 5%;
    padding-bottom: 5%;
}


.footerContainer {
    background-color: #010211;
    width: 100%;
}

.footerLogoContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerLogoRSNContainer {
    width: 5%;
    height: auto;
    text-align: center;
    position: absolute;

}

.socialContainer {
    width: 75%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialLogo {
    width: 25%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoFooter {
    width: 45%;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}