.calendrierContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendrier {
    width: 20vw;
    height: auto;
}

#quand {
    position: relative;
}

#planet2-quand {
    width: 10%;
    height: auto;
    position: absolute;
    z-index: -1;
    right: 5%;
    top: 5%;
    padding-right: 15%;
}

#satellite-quand {
    width: 2%;
    position: absolute;
    height: auto;
    right: 5%;
    bottom: 5%;
    padding-right: 10%;
    padding-bottom: 5%;
    z-index: -1;
}